/* General CSS properties */

body {
    font-family: 'Rubik', sans-serif;
    color: white;
}

.navbar img {
    height: 3rem;
}

nav span,
footer h4 {
    font-size: 32px;
    font-weight: 500;
    font-family: 'Satisfy', cursive;
}

.carousel-item img {
    min-height: 240px;
    max-height: 540px;
    object-fit: cover;
    object-position: 100% 25%;
}


h2 {
    border-bottom: solid;
    border-color: #264653;
}

#about,
#featured,
#contact {
    background-color: #308C99;
}

#about i {
    color: white;
    background-color: #2a9d8f;
    border-radius: 8px;
}

.card {
    border-color: #264653;
}

.card-body {
    background-color: #2a9d8f;
}

footer {
    background-color: #264653;
}

footer a {
    color: white;
    text-decoration: none;
}

/* Media Queries */

/* adjust font properties to navbar elements*/

@media (min-width: 200px) and (max-width: 767px) {
    li {
        font-weight: 500;
        font-size: 16px;
    }

    nav span {
        font-size: 30px;
    }
}



@media (min-width: 768px) {
    li {
        font-size: 18px;
    }
}

/* adjust carousel images dimensions and object position*/

@media (min-width: 1200px) and (max-width: 1439px) {
    .carousel-item img {
        max-height: 620px;
    }
}

@media (min-width: 1440px) and (max-width: 1999px) {
    .carousel-item img {
        max-height: 740px;
        object-position: 100% 25%;
    }
}

@media (min-width: 2000px) and (max-width: 2559px) {
    .carousel-item img {
        max-height: 900px;
        object-position: 100% 25%;
    }
}

@media (min-width: 2560px) {
    .carousel-item img {
        max-height: 1040px;
        object-position: 100% 20%;
    }
}